:root {
  --primary-color: #2d4059;
  --secondary-color: #ea5455;
  --Aux-color: #eb6f4c;
  --Aux2-color: #ffd460;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
}

.header {
  min-width: 28rem;
  padding: 2rem;
  background-color: var(--primary-color);
}

.search-box {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.city-name,
.country-name,
.btn {
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
}

.city-name,
.country-name {
  flex: 1;
  text-align: center;
  min-width: 275px;
  max-width: 300px;
}

.btn {
  background-color: var(--Aux-color);
  color: white;
  font-weight: 700;
  width: 275px;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.main::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/img/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.main::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.4;
  z-index: -1;
}

.weather-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.weather-box--city-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.weather-box--city-info #city {
  font-size: 3rem;
}

.weather-box--city-info #country {
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--Aux-color);
  background: linear-gradient(
    61deg,
    var(--Aux2-color) 9%,
    var(--Aux-color) 79%
  );
}
.weather-box--header__icon #icon {
  margin: 1.5rem;
}

.weather-box--header__icon #temperature {
  margin-block-end: 1.5rem;
  font-size: 5rem;
  font-weight: 700;
}

.footer {
  padding: 20px 0;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: var(--primary-color);
}
.footer__design {
  text-decoration: none;
  color: #fff;
}

.footer__design:hover {
  text-decoration: none;
  color: var(--Aux-color);
}
